@layer theme {
  .area {
    border: 1px solid red;
    overflow: auto;
  }

  .area> ::slotted(*) {
    background: #CCC;
  }

  view-toast {
    background: blue;
  }

  view-popup {
    background: yellow;
  }

  .area ::slotted([slot="nw"]),
  .area ::slotted([slot="ne"]),
  .area ::slotted([slot="se"]),
  .area ::slotted([slot="sw"]) {
    background: aqua;
    width: 30px;
    height: 30px;
    position: absolute;
  }

  .area ::slotted([slot="nw"]),
  .area ::slotted([slot="ne"]) {
    top: 0;
  }

  .area ::slotted([slot="se"]),
  .area ::slotted([slot="sw"]) {
    bottom: 0;
  }

  .area ::slotted([slot="ne"]),
  .area ::slotted([slot="se"]) {
    right: 0;
  }

  .area ::slotted([slot="nw"]),
  .area ::slotted([slot="sw"]) {
    left: 0;
  }
}
