@layer theme {
  .area {
    border: 1px solid red;
    overflow: auto;
  }

  .area> ::slotted(*) {
    background: #CCC;
  }

  view-toast {
    background: blue;
  }

  view-popup {
    background: yellow;
  }

  .area ::slotted([slot="nw"]),
  .area ::slotted([slot="ne"]),
  .area ::slotted([slot="se"]),
  .area ::slotted([slot="sw"]) {
    background: aqua;
    width: 30px;
    height: 30px;
    position: absolute;
  }

  .area ::slotted([slot="nw"]),
  .area ::slotted([slot="ne"]) {
    top: 0;
  }

  .area ::slotted([slot="se"]),
  .area ::slotted([slot="sw"]) {
    bottom: 0;
  }

  .area ::slotted([slot="ne"]),
  .area ::slotted([slot="se"]) {
    right: 0;
  }

  .area ::slotted([slot="nw"]),
  .area ::slotted([slot="sw"]) {
    left: 0;
  }

  view--handle {
    border: 1px solid saddlebrown;
    background: rgba(255, 255, 0, 0.7);
    z-index: 2;
  }

  layout-manager .layout-try-rect {
    position: absolute;
    border: 2px solid rgba(29, 106, 162, 0.95);
    background: rgba(29, 106, 162, 0.2);
    border-radius: 8px;
    pointer-events: none;
    z-index: 20;
    display: none;
  }
}
